
.subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

.subnav-search {
  position: relative;
  margin-left: 10px
}

.subnav-search-input {
  width: 320px;
  padding-left: 30px;
  color: #586069
}

.subnav-search-input-wide {
  width: 500px
}

.subnav-search-icon {
  position: absolute;
  top: 9px;
  left: 8px;
  display: block;
  color: #c6cbd1;
  text-align: center;
  pointer-events: none
}

.subnav-search-context .btn {
  color: #444d56;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.subnav-search-context .btn:hover,
.subnav-search-context .btn:focus,
.subnav-search-context .btn:active,
.subnav-search-context .btn.selected {
  z-index: 2
}

.subnav-search-context+.subnav-search {
  margin-left: -1px
}

.subnav-search-context+.subnav-search .subnav-search-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.subnav-search-context .select-menu-modal-holder {
  z-index: 30
}

.subnav-search-context .select-menu-modal {
  width: 220px
}

.subnav-search-context .select-menu-item-icon {
  color: inherit
}

.subnav-spacer-right {
  padding-right: 10px
}

.tooltipped {
  position: relative
}

.tooltipped::after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(27, 31, 35, 0.8);
  border-radius: 3px;
  opacity: 0
}

.tooltipped::before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(27, 31, 35, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
  opacity: 0
}

@-webkit-keyframes tooltip-appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes tooltip-appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
  display: inline-block;
  text-decoration: none;
  -webkit-animation-name: tooltip-appear;
  animation-name: tooltip-appear;
  -webkit-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}

.tooltipped-no-delay:hover::before,
.tooltipped-no-delay:hover::after,
.tooltipped-no-delay:active::before,
.tooltipped-no-delay:active::after,
.tooltipped-no-delay:focus::before,
.tooltipped-no-delay:focus::after {
  opacity: 1;
  -webkit-animation: none;
  animation: none
}

.tooltipped-multiline:hover::after,
.tooltipped-multiline:active::after,
.tooltipped-multiline:focus::after {
  display: table-cell
}

.tooltipped-s::after,
.tooltipped-se::after,
.tooltipped-sw::after {
  top: 100%;
  right: 50%;
  margin-top: 5px
}

.tooltipped-s::before,
.tooltipped-se::before,
.tooltipped-sw::before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(27, 31, 35, 0.8)
}

.tooltipped-se::after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-sw::after {
  margin-right: -15px
}

.tooltipped-n::after,
.tooltipped-ne::after,
.tooltipped-nw::after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px
}

.tooltipped-n::before,
.tooltipped-ne::before,
.tooltipped-nw::before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(27, 31, 35, 0.8)
}

.tooltipped-ne::after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-nw::after {
  margin-right: -15px
}

.tooltipped-s::after,
.tooltipped-n::after {
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.tooltipped-w::after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-w::before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(27, 31, 35, 0.8)
}

.tooltipped-e::after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-e::before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(27, 31, 35, 0.8)
}

.tooltipped-multiline::after {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  word-wrap: break-word;
  white-space: pre-line;
  border-collapse: separate
}

.tooltipped-multiline.tooltipped-s::after,
.tooltipped-multiline.tooltipped-n::after {
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.tooltipped-multiline.tooltipped-w::after,
.tooltipped-multiline.tooltipped-e::after {
  right: 100%
}

@media screen and (min-width: 0\0) {
  .tooltipped-multiline::after {
    width: 250px
  }
}

.tooltipped-sticky::before,
.tooltipped-sticky::after {
  display: inline-block
}

.tooltipped-sticky.tooltipped-multiline::after {
  display: table-cell
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .tooltipped-w::after {
    margin-right: 4.5px
  }
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top
}

.css-truncate.expandable.zeroclipboard-is-hover .css-truncate-target,
.css-truncate.expandable.zeroclipboard-is-hover.css-truncate-target,
.css-truncate.expandable:hover .css-truncate-target,
.css-truncate.expandable:hover.css-truncate-target {
  max-width: 10000px !important
}

.anim-fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.anim-fade-in.fast {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.anim-fade-up {
  opacity: 0;
  -webkit-animation-name: fade-up;
  animation-name: fade-up;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fade-up {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.anim-fade-down {
  -webkit-animation-name: fade-down;
  animation-name: fade-down;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@keyframes fade-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

.anim-grow-x {
  width: 0%;
  -webkit-animation-name: grow-x;
  animation-name: grow-x;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s
}

@-webkit-keyframes grow-x {
  to {
    width: 100%
  }
}

@keyframes grow-x {
  to {
    width: 100%
  }
}

.anim-shrink-x {
  -webkit-animation-name: shrink-x;
  animation-name: shrink-x;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s
}

@-webkit-keyframes shrink-x {
  to {
    width: 0%
  }
}

@keyframes shrink-x {
  to {
    width: 0%
  }
}

.anim-scale-in {
  -webkit-animation-name: scale-in;
  animation-name: scale-in;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
  animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5)
}

@-webkit-keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.anim-pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.3
  }

  10% {
    opacity: 1
  }

  100% {
    opacity: 0.3
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3
  }

  10% {
    opacity: 1
  }

  100% {
    opacity: 0.3
  }
}

.anim-pulse-in {
  -webkit-animation-name: pulse-in;
  animation-name: pulse-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s
}

@-webkit-keyframes pulse-in {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes pulse-in {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.border {
  border: 1px #e1e4e8 solid !important
}

.border-top {
  border-top: 1px #e1e4e8 solid !important
}

.border-right {
  border-right: 1px #e1e4e8 solid !important
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important
}

.border-left {
  border-left: 1px #e1e4e8 solid !important
}

.border-y {
  border-top: 1px #e1e4e8 solid !important;
  border-bottom: 1px #e1e4e8 solid !important
}

.border-dashed {
  border-style: dashed !important
}

.border-blue {
  border-color: #0366d6 !important
}

.border-blue-light {
  border-color: #c8e1ff !important
}

.border-green {
  border-color: #34d058 !important
}

.border-green-light {
  border-color: #a2cbac !important
}

.border-red {
  border-color: #d73a49 !important
}

.border-red-light {
  border-color: #cea0a5 !important
}

.border-purple {
  border-color: #6f42c1 !important
}

.border-yellow {
  border-color: #d9d0a5 !important
}

.border-gray-light {
  border-color: #eaecef !important
}

.border-gray-dark {
  border-color: #d1d5da !important
}

.border-black-fade {
  border-color: rgba(27, 31, 35, 0.15) !important
}

.border-0 {
  border: 0 !important
}

.border-top-0 {
  border-top: 0 !important
}

.border-right-0 {
  border-right: 0 !important
}

.border-bottom-0 {
  border-bottom: 0 !important
}

.border-left-0 {
  border-left: 0 !important
}

.rounded-0 {
  border-radius: 0 !important
}

.rounded-1 {
  border-radius: 3px !important
}

.rounded-2 {
  border-radius: 6px !important
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1) !important
}

.box-shadow-medium {
  box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-large {
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-extra-large {
  box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07) !important
}

.box-shadow-none {
  box-shadow: none !important
}

.bg-white {
  background-color: #fff !important
}

.bg-blue {
  background-color: #0366d6 !important
}

.bg-blue-light {
  background-color: #f1f8ff !important
}

.bg-gray-dark {
  background-color: #24292e !important
}

.bg-gray {
  background-color: #f6f8fa !important
}

.bg-gray-light {
  background-color: #fafbfc !important
}

.bg-green {
  background-color: #28a745 !important
}

.bg-green-light {
  background-color: #dcffe4 !important
}

.bg-red {
  background-color: #d73a49 !important
}

.bg-red-light {
  background-color: #ffdce0 !important
}

.bg-yellow {
  background-color: #ffd33d !important
}

.bg-yellow-light {
  background-color: #fff5b1 !important
}

.bg-purple {
  background-color: #6f42c1 !important
}

.bg-purple-light {
  background-color: #f5f0ff !important
}

.bg-shade-gradient {
  background-image: linear-gradient(180deg, rgba(27, 31, 35, 0.065), rgba(27, 31, 35, 0)) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 200px !important
}

.text-blue {
  color: #0366d6 !important
}

.text-red {
  color: #cb2431 !important
}

.text-gray-light {
  color: #6a737d !important
}

.text-gray {
  color: #586069 !important
}

.text-gray-dark {
  color: #24292e !important
}

.text-green {
  color: #28a745 !important
}

.text-orange {
  color: #a04100 !important
}

.text-orange-light {
  color: #e36209 !important
}

.text-purple {
  color: #6f42c1 !important
}

.text-white {
  color: #fff !important
}

.text-inherit {
  color: inherit !important
}

.text-pending {
  color: #b08800 !important
}

.bg-pending {
  color: #dbab09 !important
}

.link-gray {
  color: #586069 !important
}

.link-gray:hover {
  color: #0366d6 !important
}

.link-gray-dark {
  color: #24292e !important
}

.link-gray-dark:hover {
  color: #0366d6 !important
}

.link-hover-blue:hover {
  color: #0366d6 !important
}

.muted-link {
  color: #586069 !important
}

.muted-link:hover {
  color: #0366d6 !important;
  text-decoration: none
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-direction: row !important
}

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  flex-direction: row-reverse !important
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important
}

.flex-wrap {
  flex-wrap: wrap !important
}

.flex-nowrap {
  flex-wrap: nowrap !important
}

.flex-justify-start {
  -webkit-box-pack: start !important;
  justify-content: flex-start !important
}

.flex-justify-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important
}

.flex-justify-center {
  -webkit-box-pack: center !important;
  justify-content: center !important
}

.flex-justify-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important
}

.flex-justify-around {
  justify-content: space-around !important
}

.flex-items-start {
  -webkit-box-align: start !important;
  align-items: flex-start !important
}

.flex-items-end {
  -webkit-box-align: end !important;
  align-items: flex-end !important
}

.flex-items-center {
  -webkit-box-align: center !important;
  align-items: center !important
}

.flex-items-baseline {
  -webkit-box-align: baseline !important;
  align-items: baseline !important
}

.flex-items-stretch {
  -webkit-box-align: stretch !important;
  align-items: stretch !important
}

.flex-content-start {
  align-content: flex-start !important
}

.flex-content-end {
  align-content: flex-end !important
}

.flex-content-center {
  align-content: center !important
}

.flex-content-between {
  align-content: space-between !important
}

.flex-content-around {
  align-content: space-around !important
}

.flex-content-stretch {
  align-content: stretch !important
}

.flex-auto {
  -webkit-box-flex: 1 !important;
  flex: 1 1 auto !important
}

.flex-shrink-0 {
  flex-shrink: 0 !important
}

.flex-self-auto {
  -ms-grid-row-align: auto !important;
  align-self: auto !important
}

.flex-self-start {
  align-self: flex-start !important
}

.flex-self-end {
  align-self: flex-end !important
}
